.App {
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}

#flag {
  border: 1px solid darkgray;
  width: 280px;
  margin: 20px;
}

#coatOfArms {
  width: 150px;
  margin: 20px;
}

#flagAndCoatOfArms {
  display: flex;
  align-items: center;
  justify-content: center;
}

#countryInput {
  border-radius: 10px;
  border: 1px solid lightgrey;
  width: 200px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-style: italic;
  background-color: #121212;
  color: white;
}

@media screen and (max-width: 550px) {
  .App {
    padding: 20px;
  }

  #flag {
    width: 200px;
    margin: 10px;
  }

  #coatOfArms {
    width: 100px;
  }

  #flagAndCoatOfArms {
    display: block;
  }
}